<h1>Hello CIS 486!</h1>

<p1>My name is Aditya Balyan and i am a type 6! An Enneagram 6 is called The Loyalist. They are fun, energetic, dependable, and honest at their best. In times of disintegration, they can become anxious and self-doubting, indecisive, and overly dependent on fail safes rather than their instincts or judgment.</p2>

<%= myTypeClient %> 


<Footer>

    <a href="https://github.com/jparker13/legendary-winner-NOVEMBER/" target=""_blank>Source Code</a>
</Footer>